/* Gaestebuch-CSS */


/* General */
body {
  padding:0px;
  margin:0px;
}

img {
    border:none;
}

p {
	font-family:Courier, sans-serif;
}

ul, li
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
	
table {
	border-collapse: collapse;
	border-spacing: 0;
	background: #fff;
}

td {
	border: 1px solid;
	padding: 1em;
}

hr {
	margin: 1em 0px;
}

#inhalt { 	
  position:absolute;
  height:505px; 
  width:860px;
  margin:-252px 0px 0px -428px;
  top: 50%; 
  left: 50%;

  padding: 0px;
}

#wgLogo 
{   
    margin-top:4px;
    padding-left:7px;
    padding-right:5px;
}

#flash01 {
    padding-top:0px;
    padding-left:4px;
	z-index: 2;
	border: 0px solid;
} 

#insideBorder01 {
   position: absolute;
   top:132px;
   left:22px;
   margin:15px 0px 0px 4px;
   height:342px;
   width:801px;
   border: 0px solid;
   overflow-y:scroll;
   z-index: 3;
}

#hiddenContent {
   display: none;
}


/* dropDown-Meu */
.menu
{
	position: absolute;
	margin-top:-44px;
	margin-left:15px;
	z-index: 4;	
}

.menu li
{
	width: 140px;
	float: left;
}

.menu a
{	
    border:none;
	cursor: default;
	margin: 0.5px 2px;
	display: block;
	height: 18px;
}

.menu a:hover
{
    border:none;
    text-decoration: none;
}

#smenu1, #smenu2, #smenu3
{
	display: none;
	padding-top: 12px;
	padding-left: 2px;
}

#smenu1 a, #smenu2 a, #smenu3 a
{
	border:none;
	padding-top: 9px;
	padding-left: 1px;
	cursor: pointer;
}



.dropDownMenu01
{
    position: absolute;
    top: 28px;  
}

:link:focus, :visited:focus {-moz-outline:0px;}



/* gaesteBuch */
#gb_nav {
	padding:10px 0px 0px 0px;
}
#gb_nav a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
}
#gb_nav a:hover {
	color:#3399ff;
}

#gb_nav_left {
	float:left;
	padding:0px 0px 1px 2px;
}
#gb_nav_right {
	float:right;
	padding:0px 16px 1px 0px;
}
#gb_nav img {
	padding:0px 0px 12px 2px;
}

#gb_entries {

}
.gb_entry {
	width:770px;
	padding:5px 0px 15px 3px;
}
.gb_entry img {
	margin:0px;
	padding:0px;
}
.gb_entry p {
	margin:0px;
	padding:0px;
}
.gb_titel {
	padding:0px 0px 5px 0px;
}
.gb_titel_left {
	float:left;
	width:580px;
	padding:0px 0px 0px 1px;
	margin:0px;
}
.gb_titel_left ul li {
	display:inline;
	padding:0px 3px 0px 0px;
}
.gb_titel_left a {
	position:relative;
	top:2px;
}
.gb_titel_right p {
	float:right;
	padding:2px 0px 0px 0px;
	margin:0px;
}
.gb_content {
	padding:10px 0px 0px 0px;
}
.gb_text_img {
	margin:0px;
	
	width:550px;
	float:right;
	
}
.gb_text_img p {
	padding:0px 0px 0px 0px;
	margin:0px;
}
.gb_text_noImg {
	position:relative;
	top:0px;
}
.gb_text_noImg p {
	padding:0px 0px 20px 0px;
	margin:0px;
}
.gb_img_snd {
	width:204px;
}
.gb_img {
	margin:0px 0px 0px 0px;
}
.gb_img img {

}
.gb_img p {
	padding:8px 0px 0px 0px;
	
	color:#666666;
	font-family:verdana, sans-serif;
	font-size:12px;
}
.gb_snd p {
	color:#666666;
	font-family:verdana, sans-serif;
	font-size:12px;
}
.gb_snd embed {
	margin-top:10px;
	height:28px;
	width:180px;
}

#gb_bottom_line01 {
	padding:0px 0px 0px 0px;
}

#gb_pagination {
	padding:5px 0px 25px 0px;
}
#gb_pagination_left {
}
#gb_pagination_left a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
	float:left;
}
#gb_pagination_left a:hover {
	color:#3399ff;
}

#gb_pagination_left img {
	margin:0px;
	padding:0px 0px 0px 0px;
	position:relative;
	top:2px;
}
#gb_pagination_center {
	position:absolute;
	left:310px;
}
#gb_pagination_center p {
	padding:0px 0px 0px 0px;
	margin:0px;
	color:#999999;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:12px;

	height:0px;	
}
#gb_pagination_right {
	padding:0px 16px 0px 0px;
}
#gb_pagination_right a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
	float:right;
	
}
#gb_pagination_right a:hover {
	color:#3399ff;
}

#gb_pagination_right img {
	margin:0px;
	padding:0px 0px 0px 0px;
	position:relative;
	top:2px;
}

#gb_imgVal {
	padding:10px 0px 0px 0px;
}
#gb_imgVal img {
	margin:0px;
	padding:0px 0px 0px 0px;
	float:left;
}
#gb_imgVal p {
	margin:0px;
	padding:5px 0px 0px 0px;
	float:left;
}
#gb_imgVal input {
	margin:3px 5px 0px 5px;
	padding:0px 0px 0px 0px;
	float:left;
}

#gb_imgVal {

}
#gb_imgVal_new {
	position:absolute;
	top:316px;
	left:0px;
}
#gb_imgVal_new  a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
}
#gb_imgVal_new  a:hover {
	color:#3399ff;
}
#gb_imgVal a {
	padding:5px 6px 0px 0px;
	float:right;
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
}
#gb_imgVal a:hover {
	color:#3399ff;
}

#gb_eintrag {
	
}
#gb_eintrag label {
	color:#666666;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
}
#gb_eintrag h3 {
	margin:0px;
	padding:6px 0px 5px 0px;
	color:#333333;
	font-family:verdana, sans-serif;
}

#gb_eintrag_name {
	position:absolute;
	top:35px;
	left:0px;
}
#gb_eintrag_mail {
	position:absolute;
	top:35px;
	left:160px;
}
#gb_eintrag_web {
	position:absolute;
	top:35px;
	left:320px;
}
#gb_eintrag_text {
	padding:0px 0px 0px 0px;
}
#gb_eintrag_text textarea {

}

#gb_eintrag_imgname {
	position:absolute;
	top:86px;
	left:510px;
}
#gb_eintrag_img {
	position:absolute;
	top:125px;
	left:510px;
}
#gb_eintrag_img p {
	margin:0px;
	padding:0px;
	color:#666666;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:10px;
}
#gb_eintrag_img input {
	padding:0px 5px 0px 5px;
}

#gb_eintrag_sndname {
	position:absolute;
	top:195px;
	left:510px;
}
#gb_eintrag_snd {
	position:absolute;
	top:234px;
	left:510px;
}

#gb_eintrag_snd p {
	margin:0px;
	padding:0px;
	color:#666666;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:10px;
}

#gb_eintrag_backLink a {
	position:absolute;
	top:306px;
	left:80px;
	
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
}
#gb_eintrag_backLink a:hover {
	color:#3399ff;
}

#gb_error_captcha p {
	margin:0px;
	padding:0px;
	position:absolute;
	top:298px;
	left:470px;
	
	color:#ff3300;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:10px;
}
#gb_error_form p {
	margin:0px;
	padding:0px;
	position:absolute;
	top:12px;
	left:160px;
	
	color:#ff3300;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:12px;
}

#gb_admin_login {
	padding:10px 8px 0px 0px;
}
#gb_admin_login a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
}
#gb_admin_login a:hover {
	color:#3399ff;
}
#gb_admin_login p {
	margin:0px;
	padding:5px 0px 0px 2px;
}
#gb_imgVal_mail {
	
}
#gb_imgVal_mail p {
	margin:0px;
	padding:5px 0px 0px 2px;
}
#gb_imgVal_mail  a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
}
#gb_imgVal_mail  a:hover {
	color:#3399ff;
}
#gb_imgVal_mail img {
	height:200px;
	width:770px;
}
#gb_imgVal_mail p input {
	position:absolute;
	top:235px;
	left:60px;
}
#checkcode {
	margin:10px 0px 0px 0px;
}

#gb_sendmail {
	padding:10px 8px 0px 0px;
}
#gb_sendmail a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
}
#gb_sendmail a:hover {
	color:#3399ff;
}
#gb_sendmail p {
	margin:0px;
	padding:5px 0px 0px 2px;
}
#gb_error_login a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:14px;
}
#gb_error_login a:hover {
	color:#3399ff;
}
#gb_error_login p {
	margin:0px;
	padding:8px 0px 0px 2px;
}
#gb_error_captcha02 p {
	margin:0px;
	padding:0px;
	position:absolute;
	top:237px;
	left:120px;
	
	color:#ff3300;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:10px;
}

#gb_backend p {
	padding:30px 10px 10px 5px;
}

#gb_backend li {
	display:inline;
	padding:30px 10px 10px 5px;
}
#gb_backend a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:24px;
}
#gb_backend a:hover {
	color:#3399ff;
}
#gb_backend_reg {
	padding:0px 0px 0px 5px;
}
#gb_backend_reg a {
	color:#33ccff;
	text-decoration:none;
	font-family:verdana, sans-serif;
	font-size:24px;
}
#gb_backend_reg a:hover {
	color:#3399ff;
}

