/* IE8-Fixes */

/* noscript */
noscript {
	position:absolute;
	top:-50px;
	left:200px;
	width:700px;
}
noscript p {
	font-size:17px;
	letter-spacing:0.15px;
	color:#F00;
	width:700px;
	margin:0 0 0 440px;
}