/* PRINT */
#printTitle {
	display:block;
	margin:0 0 80px 0;
}
#printTitle img {
	width:100%;
}


#deko, #logo, #loginLink, #menu, img.all_entriesLINE {
	display:none;
}
#head #topMenu a.active {
	display:block;
}


.all_entries {
	clear:both;
}
.page_brake {
	/*page-break-after:always;*/
}

.all_entriesIMG a {
	border:none;
	text-decoration:none;
}
.all_entriesIMG img {
	width:45%;
	border:none;
	float:left;
	margin:0 0 30px 0;
}

.all_entriesTEXT {
	margin:0 0px 0px 0;
	position:relative;
	left:-10px;
}

#content .all_entries .all_entriesTEXT p {
	font-size:14px !important;
	margin:0;
	padding:0;
}


#ranking th {
	width:200px;
	text-align:left;
	height:30px;
}
#ranking td {
	width:200px;
}


#rules li {
	margin:0 0 20px;
	line-height:18px;
	letter-spacing:1px;
}


#complaints a {
	border:none;
	text-decoration:none;
}
#complaints img {
	border:none;
	text-decoration:none;
}


#footer {
	position:absolute;
	top:102px;
}
#footer p {
	font-size:10.7px;
}
#footer p img {
	width:6%;
	position:relative;
	top:3px;
}