/* Main-CSS */



/* FONT */
@font-face {  
	  font-family: "New_Athletic_M54";  
	  src: url(font/New_Athletic_M54.eot); /* IE */  
	  src: local("New Athletic M54"), url(font/New_Athletic_M54.ttf) format("truetype"); /* non-IE */  
	  
	  font-family: "Establo";  
	  src: url(font/Establo.eot); /* IE */  
	  src: local("Establo"), url(font/Establo.ttf) format("truetype"); /* non-IE */
	  
	  font-family: "BickhamScriptPro-Regular";  
	  src: url(font/BickhamScriptPro-Regular.eot); /* IE */  
	  src: local("BickhamScriptPro-Regular"), url(font/BickhamScriptPro-Regular.ttf) format("truetype"); /* non-IE */
}  
	 


/* HTML */
html {
	height: 100%;
}
body {
  padding:0px;
  margin:0px;
  height:100%;
  
  background:url(../../img/content/titleLine01.jpg) repeat-x;
  background-position:0px 215px;
  
}

img  {
    border:none;
}
    
p {
   	font-family: Helvetica, Arial, Verdana, Geneva, sans-serif;
   	padding: 0px;
	margin: 0px;
}

a {
	font-family: Helvetica, Arial, Verdana, Geneva, sans-serif;
	/*outline:none;*/
}

h1 {
	font-family: Helvetica, Arial, Verdana, Geneva, sans-serif;
}

ul, li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
ol li {
	list-style-type:decimal;
}

fieldset {
	padding:0px;
	margin:0px;
	border:0px;
}

/* id' and classes */

/* page-curl vol.#2 */
#page-curl {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

/* CONTAINER */
#container {
	margin:0 auto;
	padding:0px;
	width:1270px;
	
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
	
/* PRINT */
#printTitle {
	display:none;
}
	
/* HEAD */
#head {
	overflow:hidden;
	height: 380px;
	width:1270px;
}
#head #logo {
	position:relative;
	left: 435px;
	top:-145px;
}
#head #deko {
	position:relative;
	top:25px;
}
#head #badge {
	position:relative;
	left: 393px;
	top: -227px;
}
#head #menu {
	position:relative;
	left: 436px;
    top: -120px;
	width:680px;
}
#head #menu ul li{
	display:inline;
}
#head #topMenu {
	background-color:#000;
	width:660px;
	height:30px;
}
#head #dottedLine  {
	margin-top:2px;
	width:660px;
	border-bottom:#000 dotted 1px;
}
#head ul#topMenu {
	padding:10px 0px 0px 0px;
}
#head #topMenu li {
	margin:0px 35px 0px 0px;
}
#head #topMenu a {
	font-size:20px;
	font-weight:normal;
	color:#FFF;
	text-decoration:none;
}
#head #topMenu a.active {
	border-bottom:#FFF solid 4px;
}
#head #topMenu a:hover {
	font-weight:bold;
	text-decoration:underline;
}
#head li#menuPASVU {
	position:absolute;
	top:13px;
}
#head li#menuDEJAVU {
	position:absolute;
	top:13px;
	left:140px;
}
#head li#menuRANKING {
	position:absolute;
	top:13px;
	left:290px;
}
#head li#menuRULES {
	position:absolute;
	top:13px;
	left:445px;
}
#head li#menuPLAY {
	position:absolute;
	top:13px;
	left:570px;
}
#head #lowMenu {
	margin:5px 0 0 0;
}
#head #lowMenu li {
	margin:0px 20px 0 0;
}
#head #lowMenu a {
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
#head #lowMenu a.active {
	text-decoration:underline;
}
#head #lowMenu a:hover {
	text-decoration:underline;
}

a#loginLink {
	position:absolute;
	top:5px;
	left:8px;
	color:#FFF;
	text-decoration:none;
	font-size:12px;
}
a:hover#loginLink  {
	color:#CCC;
}
	
/* noscript */
noscript {
	position:absolute;
	top:50px;
	width:700px;
	
}
noscript p {
	font-size:17px;
	letter-spacing:0.15px;
	color:#F00;
	width:700px;
	margin:0 0 0 440px;
}
	

/* content */	
#content {
	margin:0 0 20px 0;
	padding: 0 0 5px;
	width: 1240px;
}
#content h1 {
	margin:0px 0 15px 0;
	padding:0px;
}
.all_entries {
	margin:0px 0 0 50px;
	position:relative;
}
.all_entries.found {
	margin: 0 0 0 190px;
	min-height: 220px;
}
.all_entries a {
	text-decoration:none;
}
.all_entriesLINE {
	float:left;
	margin:0 15px 0 0;
	display: none;
}
.all_entriesIMG {
	position:relative;
	top:-10px;
	left:55px;
	margin:0 0 55px 0;
	width:610px;
}
.all_entriesTEXT {
	position:absolute;
	top:-5px;
	left:600px;
	font-weight:bold;
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.all_entriesTEXT.found {
	top: -10px;
	left: 280px;
}
#last_msg_loader {
	/*text-align: center;*/
	width: 460px;
	margin: 10px auto 0;
}
#avaiablePoints {
	position:relative;
	left:440px;
	top:-60px;
	width:650px;	
}
#avaiablePoints p {
	font-family:"BickhamScriptPro-Regular", Helvetica, Arial, Verdana, Geneva, sans-serif;
	font-size:94px;
}


#fing_img {
	margin:0 0 0 105px;
	position:relative;
	top: -58px;
}
#fing_img label {
	font-family: Helvetica, Arial, Verdana, Geneva, sans-serif;
}
#fing_imgForm form {
	position:absolute;
	left:600px;
	top:60px;
	width:460px;
}
#fing_imgForm label {
	margin:0 0 0 0;
	
	font-weight: bold;
    opacity: 0.7;
}
label#fing_imgFormLabel01 {
	position:absolute;
	top:-5px;
	font-size:55px;
	color:#0FF;
}
label#fing_imgFormLabel02 {
	position:absolute;
	top:60px;
	font-size:110px;
	color:#0FF;
}
#fing_imgForm select {
	position:absolute;
	left:230px;
	top:4px;
	margin:0 0 10px 0;
	height:45px;
}
#fing_imgForm span {
	font-size: 9px;
	left: 356px;
	position: absolute;
	top: 7px;
}
#fing_imgForm span a {
	color:#0F0;
	font-size:12px;
}
#fing_imgForm input {
	position:absolute;
	left:235px;
	top:60px;
	height:60px;
	width: 180px;
}
#fing_imgForm input#fing_imgFormSubmit {
	position:absolute;
	top:140px;
	left:230px;
	height:20px;
	width:155px;
}
#fing_imgNew_error {
	position:absolute;
	left:830px;
	top:230px;
}
#fing_imgNew_error p {
	color:#F00;
	font-size:16px;
	margin:0 0 0px 0;
}
#fing_imgNew {
	margin:0 0 0 400px;
	font-size:130px;
	font-weight:bold;
}

#ranking {
	margin:0 0 0 300px;
	position:relative;
	top:-20px;
}
#ranking th {
	width:120px;
	text-align:left;
}
#ranking td {
	font-family:times, times New Roman, serif;
}
#ranking tr#rankingTableTitle {
	height:30px;
}

#rules {
    margin: 0 0 0 300px;
	width:600px;
	position:relative;
	top:-20px;
}
#rules p {
	line-height:20px;
}

/* FONT */
@font-face {  
	  font-family: "gunplay";  
	  src: url(font/gunplay.eot); /* IE */  
	  src: local("gunplay"), url(font/gunplay.ttf) format("truetype"); /* non-IE */
}  

#rules ol li {
	font-family:"gunplay", Helvetica, Arial, Verdana, Geneva, sans-serif;
	/*font-family: Helvetica, Arial, Verdana, Geneva, sans-serif;*/
	line-height:20px;
	letter-spacing:0px;
	margin:0 0 15px 0;
}
#rules ol li a {
	color:#0F0;
	font-size:24px;
}
#rules ol li ol {
	padding: 0 0 0 12px;
}

	
#player_reg {
	margin:0 0 0 300px;
	position:relative;
	top:-20px;
}
#player_reg input {
	margin:0 10px 0 0px;
}
#player_regNew_error {
	position:absolute;
	left:760px;
	top:55px;
}
#player_regNew_error p {
	color:#F00;
	font-size:16px;
	margin:0 0 5px 0;
}
#player_regNew {
	font-size:40px;
}

#prices {
	margin: 0 0 0 300px;
	width:600px;
	position:relative;
	top:-20px;
}
#prices h3 {
	font-family:"gunplay", Geneva, Helvetica, Arial, Verdana, sans-serif;
	margin:10px 0 2px 0;
}

#sponsors {
	margin: 0 0 0 300px;
	width:600px;
	position:relative;
	top:-20px;
}
#sponsors a {
	color:#0F0;
}
#sponsor_link {
	margin:25px 0 0 0;
}

#complaints {
    margin: 0 0 0 300px;
	width:600px;
	position:relative;
	top:-20px;
}
#complaints h1 {
    margin: 0 0 30px 0px;
}

/* FONT */
@font-face {  
	  font-family: "Mom_t";  
	  src: url(font/Mom_t.eot); /* IE */  
	  src: local("Mom_t"), url(font/Mom_t.ttf) format("truetype"); /* non-IE */
}  
#cities {
	margin: 0 0 0 300px;
	width:680px;
	position:relative;
	top:-20px;
}
#cities a {
	font-family:"Mom_t", Helvetica, Arial, Verdana, Geneva, sans-serif;
	color:#0F0;
	margin:25px 0 0px 0;
}
#cities p {
	font-family:"Mom_t", Helvetica, Arial, Verdana, Geneva, sans-serif;
	color:#0F0;
	margin:5px 0 10px 0;
}
	
	
/* footer */
#footer {
	border-top:1px solid #000;
	bottom: 0;
    position:relative;
    min-width: 1310px;
	clear: both;
}
#footer p {
	font-size:20px;
	font-weight:bold;
	position:relative;
}
#footer i {
	font-size:20px;
	font-weight:normal;
}
#footer span {
	position:relative;
	top:-6px;
}
#footer img {
	margin:0 3px 0 0;
}
#inner_footer {
	border-top:2px solid #000;
	border-bottom:12px solid #000;
	margin:1px 0 0 0;
	padding:0px 0 0px 25px;
}
	
	
	
	
	
.antiSpam {
	display:none;
}
	
	
	
/* admin */
#loginForm form {
	margin:0 0 20px 0;
}
#loginForm legend {
	font-size:20px;
	font-weight:bold;
	
	margin:5px 0 5px 0;
}
#loginForm label {
	width:120px;
	float:left;
	margin:5px 0 0 0;
}
#loginForm input {
	margin:5px 0 0 0;
}
#loginForm a, #imgVal_mail a {
	color:#666;
}
#loginForm a:hover, #imgVal_mail a:hover {
	color:#000;
}
#loginForm p {
	line-height:20px;
}
#imgVal_mail {
	margin:10px 0 0 0;		
}

#admin #footer {
	min-width: 1400px;
}

#containerAdmin {
	margin:0 auto;
	width: 1400px;
	
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#containerAdmin h4 {
	position:relative;
	top:-76px;
	left:436px;
	width:200px;
}
#admin_name {
	position:relative;
	top:-76px;
	left:436px;
	width:200px;
}
#contentAdmin {
	margin:0 0px 50px 50px;
	position:relative; 
}
#contentAdmin th {
	text-align:left;
}
#contentAdmin td {
	text-align:left;
	border:1px solid #000;
	margin:0px;
	padding:0px;
}

ul#admin_menu {
	position:relative;
	top:-90px;
	left:440px;
	margin:0 0 30px 0;	
	width: 660px;
}
ul#admin_menu li {
	display:inline;
	padding:0 9px 0 0;
}
ul#admin_menu li a {
	color:#666;
}
ul#admin_menu li a:hover {
	color:#000;
}
	
#admin_regEdit th {
	text-align:left;
}
#admin_regEdit td {
	text-align:left;
}

#admin_entryForm label {
	float:left;
	width:140px;
}
#admin_entryForm form p {
	font-size:10px;
}
#admin_entryForm img {
	margin:0 0 0 140px;
}
#admin_entryFormButton_submit {
	margin:5px 0 0 140px;
}
#admin_entryFormButton_reset {
	margin:5px 0 0 0;
}
#admin_entryError {
	margin:5px 0 0 140px;
}
#admin_entryError p {
	color:#F00;
}

#admin_regForm label {
	float:left;
	width:240px;
}







#insideBorder01 {
   position: absolute;
   top:140px;
   left:22px;
   margin:15px 0px 0px 4px;
   width:795px;
   border: 0px solid;
   z-index: 3;
}

#contact01 {
	height:330px;
	width:800px;
	overflow-y:scroll;
	overflow-x: hidden;
    border: 0px solid;
}
#contactInside {
   	background: url(bg/contact/contact01.jpg);
   	background-position: 0px 0px;
	background-repeat:repeat-y;
	
   	height:1180px;
	width:785px;
	
	border: 0px solid;
}

#emailForm01 {
	padding:0px 0px 0px 0px;
   	border: 0px solid;
}
#emailForm01 form {
	padding:0px 0px 0px 54px;
	margin:0px 0px 0px 0px;
}

#emailFieldset01 {
 	width:700px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	
	border: 0px solid;
}
#emailAddress01 {
    width:700px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	
	color: #005774;
	font-size: 25px;
	line-height: 20px;
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; 
	
	border: 1px solid;
}
#emailSubject01 {
   	width:700px;
   	margin:0px 0px 0px 0px;
   	padding:0px 0px 0px 0px;

   color: #005774;
   font-size: 25px;
   line-height: 20px;
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; 
   
   border: 1px solid;
}
#emailCheckbox01 {
   display: none;
}
#emailTextarea01 {
   	font-size: 14px;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
}
#submitButton01 {
   	font-size: 12px;
   	width:700px;
   	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#contact02 {
   	background: url(bg/contact/contact02.jpg);
   	background-position: 0px 0px;
	background-repeat:no-repeat;
	
   	height:325px;
	width:800px;
	
	border: 0px solid;
}
#emailForm02 {
	padding:0px 0px 0px 0px;
   	border: 0px solid;
}
#emailForm02 form {
	padding:50px 0px 0px 18px;
	margin:0px 0px 0px 0px;
}
#contactEmailAdress02 {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border: 0px solid;
}
#contactSubject02 {
   	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
   	border: 0px solid;
}
#contactEmailText02 {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border: 0px solid;
}

#emailFieldset02 {
	width:700px;
	padding:0px 0px 0px 0px;
	margin:0px;
	
	border: 0px solid;
}
#emailAddress02 {
    width:700px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 12px 0px;
	
	color: #005774;
	font-size: 25px;
	line-height: 20px;
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; 
	
	border: 1px solid;
}
#emailSubject02 {
   	width:700px;
	padding:0px 0px 0px 0px;
   	margin:0px 0px 12px 0px;

   color: #005774;
   font-size: 25px;
   line-height: 20px;
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; 
   
   border: 1px solid;
}
#emailCheckbox02 {
   display: none;
}
#emailTextarea02 {
	
   font-size: 14px;
	margin:0px 0px 0px 0px;
}
#submitButton02 {
   font-size: 12px;
   width:700px;
   margin:12px 0px 0px 0px;
}


#hiddenContent {
   display: none;
}


